@using NodeBaseApi.Version2
@using AiDesigner.Shared
@using System.ComponentModel.DataAnnotations
@using AiDesigner.Client.Modals

<PageTitle>Program Settings and Code</PageTitle>

@if (localProgram != null)
{
    <div class="flex justify-center">
        <div class="@((localProgram is CustomProgram) ? "w-1/2" : "w-2/5") p-4 rounded-lg bg-gray-100 dark:bg-gray-700 mx-8">
            <h2 class="text-xl font-semibold mb-2">@localProgram.Name Settings</h2>
            <div class="mt-4">
                <label for="name" class="block text-sm font-medium text-gray-700 dark:text-white">Name</label>
                <input @bind="localProgram.Name" type="text" id="name" class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0 outline-none" placeholder="Name" />
            </div>
            <div class="mt-4">
                <label for="description" class="block text-sm font-medium text-gray-700 dark:text-white">Description</label>
                <textarea @bind="localProgram.Description" id="description" class="w-full p-2 border rounded dark:bg-gray-600 dark:text-white outline-none border-0 outline-none" placeholder="Description"></textarea>
            </div>
            <div class="mt-4">
                <label for="IsPublic" class="block text-sm font-medium text-gray-700 dark:text-white">Is public</label>
                <div class="mt-1">
                    <input type="checkbox" @bind="localProgram.IsPublic" id="IsPublic" class="w-6 h-6 accent-green-600 rounded" />
                    <label for="IsPublic" class="ml-2 text-sm text-gray-700 dark:text-white">Enabled</label>
                </div>
            </div>
            @if (localProgram is CustomProgram)
            {
                <label for="SupportsSessions" class="block text-sm font-medium text-gray-700 dark:text-white">Supports sessions</label>
                <div class="mt-1">
                    <input type="checkbox" @bind="localProgram.SupportsSessions" id="SuportSession" class="w-6 h-6 accent-green-600 rounded" />
                    <label for="SuportSession" class="ml-2 text-sm text-gray-700 dark:text-white">Enabled</label>
                </div>
                <div class="mt-4">
                    <label for="apiKey" class="block text-sm font-medium text-gray-700 dark:text-white">API Key</label>
                    <input type="text" @bind="((CustomProgram)localProgram).ApiKey" id="apiKey" class="w-full p-2 border rounded dark:bg-gray-600 dark:text-gray-300 outline-none border-0" readonly />
                </div>
                <div class="mt-4 flex justify-center">
                    <AiDesigner.Client.Modals.ExacuteProgram AP="localProgram"></AiDesigner.Client.Modals.ExacuteProgram>
                    <ReleaseArticle programObject="SelectedProgram" />
                    <button @onclick="SaveSettingsProgram" class="ml-4 px-4 py-2 text-white bg-green-600 hover:bg-green-700 rounded">Save</button>
                </div>
            }
            else if (localProgram is CustomBlockProgram)
            {
                <div class="mt-4 flex justify-center">
                    <AiDesigner.Client.Modals.ExacuteProgram AP="localProgram"></AiDesigner.Client.Modals.ExacuteProgram>
                    <ReleaseArticle programObject="SelectedProgram" />
                    <button @onclick="SaveSettingsProgram" class="ml-4 px-4 py-2 text-white bg-green-600 hover:bg-green-700 rounded">Save</button>
                </div>
            }
        </div>
        @if (localProgram is CustomProgram)
        {
            <div class="w-1/2 p-4 rounded-lg bg-gray-100 dark:bg-gray-700 mx-8">
                <h2 class="text-xl font-semibold mb-2">Code</h2>
            <div class="relative inline-block w-full mb-4">
                    <select @bind="SelectedLanguage" class="block appearance-none w-full w-full rounded dark:bg-gray-600 dark:text-white outline-none border-0 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-gray-500 dark:focus:border-gray-400">
                    <option value="curl">Curl</option>
                    <option value="csharp">C#</option>
                    <option value="python">Python</option>
                    <option value="javascript">JavaScript</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-400">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-5.082 4.892-0.387 0.389-1.039 0.389-1.427 0-0.387-0.39-4.675-4.474-5.082-4.892-0.409-0.418-0.436-1.17 0-1.615z" /></svg>
                </div>
            </div>
            @if(CodeSnippet != null)
                {
                    <textarea class="block mt-2 w-full h-4/5 p-2 border-0 rounded dark:!bg-gray-600 dark:text-white outline-none" style="outline: none; white-space: pre;" rows="10" readonly>@CodeSnippet</textarea>
                }
        </div>
        }
    </div>
}

@code {
        [Parameter]
        public ProgramObject SelectedProgram { get; set; }

        [Parameter]
        public EventCallback<ProgramObject> SelectedProgramChanged { get; set; }

    public ProgramObject localProgram { get; set; }

    private string CodeSnippet
    {
        get
        {
            CustomProgram program = localProgram as CustomProgram ?? null;
            // Define the variables that are missing
            string baseUrl = "http://apiurl"; // Placeholder for base URL
            string programKey = "";
            if(program != null)
            {
                programKey = program.ApiKey.ToString(); // Placeholder for program key
            }
            string apiKey = "your_api_key"; // Placeholder for API key
            string sessionId = "your_session_id"; // Placeholder for session ID
            string jsonInputValues = "{}"; // Placeholder for JSON input values

            string code = "";
            switch (SelectedLanguage)
            {
                case "curl":
                    // cURL variant
                    code = $"# cURL command for {(SelectedProgram?.Name ?? "Untitled")}\n";
                    string curlUrl = $"{baseUrl}/api/Program/execute?programKey={programKey}&apiKey={apiKey}";

                    if (SelectedProgram.SupportsSessions)
                    {
                        curlUrl += $"&sessionId={sessionId}";
                    }

                    code += $"curl -X POST \"{curlUrl}\" \\\n"; // Break line here
                    code += $"  -H 'Content-Type: application/json' \\\n"; // Break line here
                    code += $"  -d '{jsonInputValues}'\n"; // Assuming jsonInputValues is a JSON string
                    break;
                case "csharp":
                    code = code = $"// C# Code for {(SelectedProgram?.Name ?? "Untitled")}\n " +
    $@"
using System;
using System.Net.Http;
using System.Text;
using System.Collections.Generic;
using System.Threading.Tasks;
using Newtonsoft.Json;

public async Task<List<object>> ExecuteProgram(Guid programKey, Guid apiKey, Dictionary<Guid, object> inputValues, Guid? sessionId)
{{
    using (var client = new HttpClient())
    {{
        client.BaseAddress = new Uri(""{baseUrl}"");
        var content = new StringContent(JsonConvert.SerializeObject(inputValues), Encoding.UTF8, ""application/json"");
        var url = $""api/Program/execute?programKey={programKey}&apiKey={apiKey}"";

        if (sessionId.HasValue)
        {{
            url += $""&sessionId=sessionId.Value"";
        }}
        try
        var response = await client.PostAsync(url, content);
        var responseString = await response.Content.ReadAsStringAsync();
        return JsonConvert.DeserializeObject<List<object>>(responseString);
    }}
}}
// Usage
Guid programKey = Guid.Parse(""{{programKey}}"");
Guid apiKey = Guid.Parse(""{{apiKey}}"");
Guid? sessionId = // Conditional assignment based on whether session ID is available
Dictionary<Guid, object> inputValues = new Dictionary<Guid, object>();
";
if (SelectedProgram?.ProgramStructure?.ProgramStart != null)
{
    foreach (var input in SelectedProgram.ProgramStructure.ProgramStart)
    {
        if (input.Type.ToString() != "Trigger")
        {
            code += $"inputValues.Add(Guid.Parse(\"{input.Id}\"), Value); //value is {input.Type}\n";
        }

    }
}
code += @"
var result = await ExecuteProgram(programKey, apiKey, inputValues, sessionId);
";
                    break;
                case "python":
                    code = $"# Python Code for {(SelectedProgram?.Name ?? "Untitled")}\n" +
    $@"
import requests
import json

def execute_program(program_key, api_key, input_values, session_id):
    url = '{baseUrl}/api/Program/execute?programKey=' + program_key + '&apiKey=' + api_key
    if session_id is not None:
        url += '&sessionId=' + session_id

    response = requests.post(url, json=input_values)

    if response.status_code == 200:
        return json.loads(response.text)
    else:
        print(f'Request failed with status code response.status_code')
        return None

program_key = 'your_program_key'
api_key = 'your_api_key'
session_id = 'your_session_id' # or None if not available
";
code += @"
input_values = {}
";
foreach (var input in SelectedProgram.ProgramStructure.ProgramStart)
{
    if (input.Type.ToString() != "Trigger")
    {
        code += $"input_values['{input.Id}'] = value  # value is {input.Type}\n";
    }
}
code += @"
result = execute_program(program_key, api_key, input_values, session_id)
";
foreach (var input in SelectedProgram.ProgramStructure.ProgramStart)
{
    if (input.Type.ToString() != "Trigger")
    {
        code += $"input_values['{input.Id}'] = value  # value is {input.Type}\n";
    }
}
code += @"
result = execute_program(program_key, api_key, input_values, session_id)
";
                    break;
                case "javascript":
                    code = $"// JavaScript Code for {(SelectedProgram?.Name ?? "Untitled")}\n" +
            $@"
const axios = require('axios');

async function executeProgram(programKey, apiKey, inputValues, sessionId) {{
    let url = `{baseUrl}/api/Program/execute?programKey=${programKey}&apiKey=${apiKey}`;

    if (sessionId) {{
        url += `&sessionId=${sessionId}`;
    }}

    try {{
        const response = await axios.post(url, inputValues);
        return response.data;
    }} catch (error) {{
        console.error(`Request failed: error`);
        return null;
    }}
}}

const programKey = 'your_program_key';
const apiKey = 'your_api_key';
const sessionId = 'your_session_id'; // or null if not available
const inputValues =";
code += @"
{}";
    foreach (var input in SelectedProgram.ProgramStructure.ProgramStart)
    {
        if (input.Type.ToString() != "Trigger")
        {
            code += $"inputValues['{input.Id}'] = value;  // value is {input.Type}\n";
        }
    }
    code += @"
const result = await executeProgram(programKey, apiKey, inputValues, sessionId);
";
                    break;
                default:
                    code = "";
                    break;
            }
            return code;
        }
    }

    private string SelectedLanguage { get; set; } = "csharp";

    protected override async Task OnParametersSetAsync()
    {
        if (SelectedProgram != null)
        {
            localProgram = Clone(SelectedProgram);
        }
        else
        {
            // handle null SelectedProgram, e.g., initialize it to a default value or throw an exception
        }

        await base.OnParametersSetAsync();
    }

    private async Task UpdateSelectedProgram(ProgramObject newProgram)
    {
        SelectedProgram = newProgram;
        await SelectedProgramChanged.InvokeAsync(newProgram);
    }

    private async Task SaveSettingsProgram()
    {
        // Update SelectedProgram with localProgram and notify the parent component
        await UpdateSelectedProgram(Clone(localProgram));
    }
   
    // Clone method
    private ProgramObject Clone(ProgramObject source)
    {
        // Check if source is an instance of CustomProgram
        if (source is CustomProgram customProgramSource)
        {
            return new CustomProgram
                {
                    Id = customProgramSource.Id,
                    Name = customProgramSource.Name,
                    Description = customProgramSource.Description,
                    Author = customProgramSource.Author,
                    AuthorName = customProgramSource.AuthorName,
                    IsPublic = customProgramSource.IsPublic,
                    SupportsSessions = customProgramSource.SupportsSessions,
                    ProgramStructure = customProgramSource.ProgramStructure, // Assuming ProgramStructure can be shallow copied
                    ApiKey = customProgramSource.ApiKey
                };
        }
        // Check if source is an instance of CustomBlockProgram
        else if (source is CustomBlockProgram customBlockProgramSource)
        {
            return new CustomBlockProgram
                {
                    Id = customBlockProgramSource.Id,
                    Name = customBlockProgramSource.Name,
                    Description = customBlockProgramSource.Description,
                    Author = customBlockProgramSource.Author,
                    AuthorName = customBlockProgramSource.AuthorName,
                    IsPublic = customBlockProgramSource.IsPublic,
                    SupportsSessions = customBlockProgramSource.SupportsSessions,
                    ProgramStructure = customBlockProgramSource.ProgramStructure  // Assuming ProgramStructure can be shallow copied
                };
        }
        // If the source is neither a CustomProgram nor a CustomBlockProgram, throw an exception
        else
        {
            throw new ArgumentException($"Cannot clone object of type {source.GetType()}");
        }
    }

}