@using Newtonsoft.Json
@inject HttpClient Http

<div class="flex space-x-4 dark:!bg-gray-800 p-4 rounded-lg mt-4">
    <div class="text-white">
        <p style="font-size: 1.5rem;">Total Users: @totalUsers</p>
    </div>
    <div class="text-white">
        <p style="font-size: 1.5rem;">Tier 1 Subs: @Subscribers.Tier1Count</p>
    </div>
    <div class="text-white">
        <p style="font-size: 1.5rem;">Tier 2 Subs: @Subscribers.Tier2Count</p>
    </div>
</div>

@code {
    private int totalUsers = 0;
    private SubscriptionCountResponse Subscribers = new SubscriptionCountResponse();

    protected override async Task OnInitializedAsync()
    {
        totalUsers = await GetTotalUsersCount();
        Subscribers = await GetNonZeroSubscriptionCount();
    }

    private async Task<int> GetTotalUsersCount()
    {
        var response = await Http.GetAsync("Admin/UserCount");
        if (response.IsSuccessStatusCode)
        {
            var responseBody = await response.Content.ReadAsStringAsync();
            var userCountResponse = JsonConvert.DeserializeObject<UserCountResponse>(responseBody);
            return userCountResponse.TotalUsers;
        }
        else
        {
            return 0;
        }
    }

    private async Task<SubscriptionCountResponse> GetNonZeroSubscriptionCount()
    {
        var response = await Http.GetAsync("Admin/SubscriptionCountsByTier");
        if (response.IsSuccessStatusCode)
        {
            var responseBody = await response.Content.ReadAsStringAsync();
            var subscriptionCountResponse = JsonConvert.DeserializeObject<SubscriptionCountResponse>(responseBody);
            return subscriptionCountResponse;
        }
        else
        {
            return new SubscriptionCountResponse();
        }
    }

    public class UserCountResponse
    {
        public int TotalUsers { get; set; }
    }

    public class SubscriptionCountResponse
    {
        public int Tier1Count { get; set; }
        public int Tier2Count { get; set; }
    }

}
