<!-- New Section: specific pricing ai modals -->
<div style="display: flex; justify-content: center; width: 100%;">
    <div class="specific-pricing-container">
        <!-- Create a flexbox layout -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
            <!-- Large title on the left -->
            <div class="specific-pricing-title">
                <h1>Language models</h1>
            </div>

            <!-- Right-side content -->
            <div class="specific-pricing-right">
                <!-- Smaller text -->
                <div class="specific-pricing-text">
                    <p>Efficiently manage your costs with our node-based pricing for AI Language models.</p>
                </div>

                <!-- List of pricing -->
                <div class="specific-pricing-list">
                    <ul>
                        <li>Llama2 7b: 6,66 tokens per 1000 characters</li>
                        <li>Zephyr 7b: 10 tokens per 1000 characters</li>
                        <li>Llama2 13b: 13,33 tokens per 1000 characters</li>
                        <li>Mixtral 8x7b: 26,66 tokens per 1000 characters</li>
                        <li>Llama2 70b: 26,66 tokens per 1000 characters</li>
                        <li>CodeLlama 34b: 13,33 tokens per 1000 characters</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<hr style="width: 83%; margin-left: auto; margin-right: auto;">

<!-- New Section: specific pricing ai modals -->
<div style="display: flex; justify-content: center; width: 100%;">
    <div class="specific-pricing-container">
        <!-- Create a flexbox layout -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
            <!-- Large title on the left -->
            <div class="specific-pricing-title">
                <h1>Image models</h1>
            </div>

            <!-- Right-side content -->
            <div class="specific-pricing-right">
                <!-- Smaller text -->
                <div class="specific-pricing-text">
                    <p>Efficiently manage your costs with our node-based pricing for AI Image models.</p>
                </div>

                <!-- List of pricing -->
                <div class="specific-pricing-list">
                    <ul>
                        <li>Image Segmentation node: 20 tokens per image</li>
                        <li>Image Classification node: 20 tokens per image</li>
                        <li>Image Captioning node: 20 tokens per image</li>
                        <li>Object Cropping node: 20 tokens per image</li>

                        <li>Fast generation node: 40 tokens per image</li>
                        <li>DALL·E 3 node: 160 tokens per image</li>

                        <li>TextReader: 5 tokens per image</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@*
<br />
<hr style="width: 83%; margin-left: auto; margin-right: auto;">

<!-- New Section: specific pricing ai modals -->
 <div style="display: flex; justify-content: center; width: 100%;">
    <div class="specific-pricing-container">
        <!-- Create a flexbox layout -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
            <!-- Large title on the left -->
            <div class="specific-pricing-title">
                <h1>Sound models</h1>
            </div>

            <!-- Right-side content -->
            <div class="specific-pricing-right">
                <!-- Smaller text -->
                <div class="specific-pricing-text">
                    <p>Efficiently manage your costs with our node-based pricing for AI Sound models.</p>
                </div>

                <!-- List of pricing -->
                <div class="specific-pricing-list">
                    <ul>
                        <li>Simple generation node: 4 tokens per second</li>
                        <li>Medium generation node: 8 tokens per second</li>
                        <li>Complex generation node: 16 tokens per second</li>
                        <li>Simple detection node: 2 tokens per second</li>
                        <li>Strong detection node: 5 tokens per second</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> *@