@page "/documentation/block/summarizationblocks"

<div class="container mx-auto p-6 font-mono">
    <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4">AI Processing Blocks</h2>
        @* Summarize *@
        <div class="mb-4 dark:!bg-gray-700 bg-gray-100 p-4 rounded">
            <h3 class="text-xl font-bold mb-2">Summarize Block</h3>
            <p>Summarizes text using Bart Large CNN API.</p>
            <h4 class="font-bold mt-2">Inputs:</h4>
            <ul class="list-disc pl-4 ml-6 mb-2">
                <li>Text: The text input for the Bart Large CNN summarization API (Type: String)</li>
            </ul>
            <h4 class="font-bold">Outputs:</h4>
            <ul class="list-disc pl-4 ml-6 mb-2">
                <li>Summary: The summarized text from Bart Large CNN API (Type: String)</li>
            </ul>
        </div>

        @* TextToText *@
        <div class="mb-4 dark:!bg-gray-700 bg-gray-100 p-4 rounded">
            <h3 class="text-xl font-bold mb-2">Text to Text Block</h3>
            <p>Processes text input and generates text output using the Google FLAN-T5-XXL API.</p>
            <h4 class="font-bold mt-2">Inputs:</h4>
            <ul class="list-disc pl-4 ml-6 mb-2">
                <li>Text: Text input for processing (Type: String)</li>
            </ul>
            <h4 class="font-bold">Outputs:</h4>
            <ul class="list-disc pl-4 ml-6 mb-2">
                <li>Text: Generated text output (Type: String)</li>
            </ul>
        </div>

        @* FactualConsistency *@
        <div class="mb-4 dark:!bg-gray-700 bg-gray-100 p-4 rounded">
            <h3 class="text-xl font-bold mb-2">Factual Consistency Block</h3>
            <p>Checks factual consistency between two text inputs using the vectara/hallucination_evaluation_model.</p>
            <h4 class="font-bold mt-2">Inputs:</h4>
            <ul class="list-disc pl-4 ml-6 mb-2">
                <li>Text1: First text input (Type: String)</li>
                <li>Text2: Second text input (Type: String)</li>
            </ul>
            <h4 class="font-bold">Outputs:</h4>
            <ul class="list-disc pl-4 ml-6 mb-2">
                <li>ConsistencyScore: Factual consistency score (Type: Number)</li>
            </ul>
        </div>
    </section>

    <br />
    <hr style="width: 100%; margin-left: auto; margin-right: auto;">
</div>
@code {

}
