@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="row start-1">
    <div class="col-md-4 loginPanel">
        <h1>@ViewData["Title"]</h1>
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" placeholder="Authenticator code" />
                <label asp-for="Input.TwoFactorCode" class="form-label">Authenticator Code</label>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMachine" class="form-label" style="color: white;">
                    <input asp-for="Input.RememberMachine" class="form-check-input" />
                    Remember this machine
                </label>
            </div>
            <div>
                <button type="submit" style="background-color: #2ea44f;" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
        </form>
        <p style="color: white;">
            Don't have access to your authenticator device? You can
            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl" style="color: #2ea44f;">log in with a recovery code</a>.
        </p>
    </div>
</div>

<style>
    /* The rest of the styles as provided in the second example */
    .row.start-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        background-color: #353535;
    }

    .loginPanel {
        background-color: #2b2b2b;
        padding: 20px;
        border-radius: 8px;
    }

    h1 {
        color: #eaeaea;
        text-align: center; /* Center the title */
    }

    .checkbox .form-label, p {
        color: #eaeaea;
    }

    #login-submit {
        background-color: #2ea44f;
        border: none;
    }

        #login-submit:hover {
            background-color: #249739;
        }

    .form-control {
        background-color: #353535 !important;
        color: #eaeaea;
        border: none;
        border-radius: 4px;
    }

        .form-control:focus {
            box-shadow: none;
        }

    .form-label {
        color: #eaeaea;
    }

    .form-check-input {
        width: 1.5rem;
        height: 1.5rem;
    }

        .form-check-input:checked {
            background-color: #2ea44f;
            border-color: #2ea44f;
        }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
