@page "/home"
@using AiDesigner.Client.Components
@using AiDesigner.Client.Components.HomePage
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Authorization;
@using NodeBaseApi.Version2;
@inject HttpClient Http;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="flex justify-between h-full">
    <div class="self-end dark:bg-gray-600 rounded-lg flex flex-col h-full w-full">
        <div class="dark:bg-gray-600 rounded-lg w-full mb-4 flex space-x-4 pr-6 h-full">
            <div class="flex-grow p-0 dark:bg-gray-700 rounded-lg">
                <LatestTutorials />
            </div>
            <div class="flex-shrink-0 p-0 dark:!bg-gray-700 bg-gray-100 rounded-lg">
                @if(Calls != null)
                {
                    <LatestUses Calls="@Latest100Calls" />
                }
                else
                {
                    <LatestUses />
                }
            </div>

@*             <div class=" w-1/6 flex-shrink-0 flex justify-center dark:bg-gray-700 rounded-lg">
                @if(Calls != null)
                {
                    <AiDesigner.Client.Components.CallPieCharts Calls="@Calls" />
                }
                else
                {
                    <AiDesigner.Client.Components.CallPieCharts />
                }
            </div> *@
        </div>
        <div class="flex flex-col items-start align-baseline mb-0 dark:bg-gray-700 rounded-lg mr-6">
            <ProgramsAndWorkshop analytics="analytics" EAPs="EAPs"></ProgramsAndWorkshop>
        </div>
    </div>

    <div class="flex flex-col justify-start dark:bg-gray-700 w-96 rounded-lg">
        <LatestNews initialArticle="selectedArticle"></LatestNews>
    </div>
</div>

@code {
    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState CascAuth { get; set; }

    [CascadingParameter(Name = "EAPs")]
    public List<ProgramObject> EAPs { get; set; }

    [CascadingParameter(Name = "SetPassingArticle")]
    protected EventCallback<WorkshopArticle> SetPassingArticle { get; set; }

    [CascadingParameter(Name = "NewAps")]
    protected EventCallback<ProgramObject> NewAps { get; set; }

    [CascadingParameter(Name = "analytics")]
    public ChacheAnalytics analytics { get; set; }

    [CascadingParameter(Name = "setAnalytics")]
    public EventCallback<ChacheAnalytics> setAnalytics { get; set; }


    private List<NewsArticle> LatestArticles;
    private List<WorkshopArticle> Articles;
    private List<Call> Calls;
    private List<Call> Latest100Calls => Calls.OrderByDescending(call => call.EndTime).Take(100).ToList();
    private NewsArticle selectedArticle;


    protected override Task OnInitializedAsync()
    {
        return AuthenticationStateProvider.GetAuthenticationStateAsync().ContinueWith(authTask =>
        {
            var authState = authTask.Result;
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                if (analytics.newsArticle != null && analytics.newsArticle.Any() && selectedArticle == null)
                {
                    selectedArticle = analytics.newsArticle[0];
                    Console.WriteLine(selectedArticle.Title);
                }

                if (analytics != null && analytics.newsArticle != null && analytics.workshopArticles != null
                                      && analytics.newsArticle.Any() && analytics.workshopArticles.Any())
                {
                    GetLatestCalls();
                    return;
                }

                var tasks = new List<Task>();

                if (Calls == null)
                {
                    tasks.Add(GetLatestCalls());
                }

                if (LatestArticles == null)
                {
                    tasks.Add(GetLatestNews());
                }

                if (Articles == null)
                {
                    tasks.Add(GetLatestThreeArticles());
                }

                Task.WhenAll(tasks).ContinueWith(t =>
                {
                    if (LatestArticles != null && Articles != null && Calls != null)
                    {
                        setAnalytics.InvokeAsync(new ChacheAnalytics()
                            {
                                workshopArticles = Articles,
                                newsArticle = LatestArticles,
                            }).ConfigureAwait(false);
                    }
                }, TaskScheduler.Current); // Ensure continuation on the current synchronization context if necessary.
            }
        }, TaskScheduler.Current);
    }

    //Api / db
    private async Task GetLatestThreeArticles()
    {
        try
        {
            var response = await Http.GetAsync($"Workshop/search?searchTerm=&searchClass=&type=&start=0&end=3");

            if (response.IsSuccessStatusCode)
            {
                Articles = await response.Content.ReadFromJsonAsync<List<WorkshopArticle>>();
            }
            else
            {
                Console.WriteLine($"Failed to get latest 3 articles. StatusCode: {response.StatusCode}, Content: {await response.Content.ReadAsStringAsync()}");
            }
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"An HttpRequestException occurred while getting latest 3 articles: {e.Message}");
        }
        catch (TimeoutException e)
        {
            Console.WriteLine($"A TimeoutException occurred while getting latest 3 articles: {e.Message}");
        }
        catch (Exception e)
        {
            // Log the exception for debugging and review
            Console.WriteLine($"An unknown exception occurred while getting latest 3 articles: {e.Message}");
        }
    }

    private async Task GetLatestNews()
    {
        try
        {
            var response = await Http.GetAsync("Chat/News/Latest");

            if (response.IsSuccessStatusCode)
            {
                LatestArticles = (await response.Content.ReadFromJsonAsync<IEnumerable<NewsArticle>>()).ToList();

                if (LatestArticles.Count > 0)
                {
                    selectedArticle = LatestArticles[0];
                }
            }
            else
            {
                Console.WriteLine($"Failed to load articles. Status code: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while fetching articles: {ex.Message}");
        }
    }

    private async Task GetLatestCalls()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userIdClaim = user.Claims.FirstOrDefault()?.Value;
        if (Guid.TryParse(userIdClaim, out Guid userId))
        {
            var response = await Http.GetAsync($"Chat/Call/GetByUserId/{userId}");
            if (response.IsSuccessStatusCode)
            {
                var responseBody = await response.Content.ReadAsStringAsync();

                var allCalls = JsonConvert.DeserializeObject<List<Call>>(responseBody);

                if (allCalls == null) { return; };

                allCalls.ForEach(call =>
                {
                    if (call.StartTime.HasValue)
                    {
                        call.StartTime = call.StartTime.Value.ToLocalTime();
                    }
                    if (call.EndTime.HasValue)
                    {
                        call.EndTime = call.EndTime.Value.ToLocalTime();
                    }
                });

                Calls = allCalls
                    .GroupBy(call => call.StartTime)
                    .Select(group => group.First())
                    .ToList();

                StateHasChanged();
            }
            else
            {
                var errorBody = await response.Content.ReadAsStringAsync();
                Console.WriteLine(errorBody);  // Log the error response body to see what's being returned
            }
        }
    }
}
