@page "/pricing"

<!-- Add a container to hold your pricing content -->
<div style="display: flex; justify-content: center; width: 100%;">
    <div class="pricing-container">
        <!-- Add a large title on the top-left -->
        <div class="pricing-title">
            <h1>Pricing</h1>
        </div>

        <!-- Add a short text at the top-middle -->
        <div class="pricing-text">
            <p>Discover affordable AI with our flexible, usage-based pricing. Only pay for what you use, and scale your projects without scaling your costs. Currently, everyone gets a free 1000 tokens to use per day. Payment integration is coming soon!</p>
        </div>
    </div>
</div>

<!-- New Section: Image on the Right, Text on the Left -->
<div class="Section ImageRightTextLeft">
    <div class="Text">
        <h2 style="font-size: 2.2rem">Flexible, Node-Based Pricing</h2>
        <p>Experience true scalability with our unique pricing model. You only pay for the nodes you use, allowing you to optimize costs while expanding your AI capabilities. Start small, scale big—without breaking the bank.</p>
    </div>
    <div class="Image">
        <img src="../images/pricing/nodepricing.jpg" alt="Image depicting pricing model">
    </div>
</div>

<!-- New Section: specific pricing ai modals -->
<div style="display: flex; justify-content: center; width: 100%;">
    <div class="specific-pricing-container">
        <!-- Create a flexbox layout -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
            <!-- Large title on the left -->
            <div class="specific-pricing-title">
                <h1>Language models</h1>
            </div>

            <!-- Right-side content -->
            <div class="specific-pricing-right">
                <!-- Smaller text -->
                <div class="specific-pricing-text">
                    <p>Efficiently manage your costs with our node-based pricing for AI Language models.</p>
                </div>

                <!-- List of pricing -->
                <div class="specific-pricing-list">
                    <ul>
                        <li>Simple node: 1 tokens per word</li>
                        <li>Medium node: 3 tokens per word</li>
                        <li>Complex node: 6 tokens per word</li>
                        <li>Gpt 3.5 node: 5 tokens per word</li>
                        <li>Gpt 4 node: 10 tokens per word</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<hr style="width: 83%; margin-left: auto; margin-right: auto;">

<!-- New Section: specific pricing ai modals -->
<div style="display: flex; justify-content: center; width: 100%;">
    <div class="specific-pricing-container">
        <!-- Create a flexbox layout -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
            <!-- Large title on the left -->
            <div class="specific-pricing-title">
                <h1>Image models</h1>
            </div>

            <!-- Right-side content -->
            <div class="specific-pricing-right">
                <!-- Smaller text -->
                <div class="specific-pricing-text">
                    <p>Efficiently manage your costs with our node-based pricing for AI Image models.</p>
                </div>

                <!-- List of pricing -->
                <div class="specific-pricing-list">
                    <ul>
                        <li>Simple generation node: 20 tokens per image</li>
                        <li>Medium generation node: 40 tokens per image</li>
                        <li>Complex generation node: 80 tokens per image</li>
                        <li>Simple detection node: 15 tokens per image</li>
                        <li>Strong detection node: 30 tokens per image</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<hr style="width: 83%; margin-left: auto; margin-right: auto;">

<!-- New Section: specific pricing ai modals -->
<div style="display: flex; justify-content: center; width: 100%;">
    <div class="specific-pricing-container">
        <!-- Create a flexbox layout -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
            <!-- Large title on the left -->
            <div class="specific-pricing-title">
                <h1>Sound models</h1>
            </div>

            <!-- Right-side content -->
            <div class="specific-pricing-right">
                <!-- Smaller text -->
                <div class="specific-pricing-text">
                    <p>Efficiently manage your costs with our node-based pricing for AI Sound models.</p>
                </div>

                <!-- List of pricing -->
                <div class="specific-pricing-list">
                    <ul>
                        <li>Simple generation node: 4 tokens per second</li>
                        <li>Medium generation node: 8 tokens per second</li>
                        <li>Complex generation node: 16 tokens per second</li>
                        <li>Simple detection node: 2 tokens per second</li>
                        <li>Strong detection node: 5 tokens per second</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.pricing-container {
        width: 83%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        position: relative;
        margin-bottom: 6rem;
    }

    .pricing-title h1 {
        font-size: 55px;
        margin: 0;
       /*  margin-left: 3rem; */
    }

    .pricing-text {
        position: absolute;
        left: 52%;
        top: calc(50% - 1.25rem); /* 0.625rem is half the font-size, this makes the first line vertically centered */
    }

        .pricing-text p {
            font-size: 25px;
            margin: 0;
           /*  margin-right: 1rem; */
        }

        <!-- Add a container to hold your pricing content -->
    .Section {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        width: 90%;
        margin: auto; /* This will center the section horizontally */
    }

    /* Styles for Text and Image Divs */
    .ImageRightTextLeft .Text, .ImageLeftTextRight .Text {
        flex: 1; /* Takes more space than Image */
        padding: 2rem;
        font-size: 2rem; /* Increase the font size */
    }

    .ImageRightTextLeft .Image, .ImageLeftTextRight .Image {
        flex: 1; /* Takes less space than Text */
        padding: 2rem;
    }

    <!-- specific pricing -->
    .specific-pricing-container {
        width: 83%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 12rem;
        position: relative;
    }

    .specific-pricing-title h1 {
        font-size: 55px;
        margin: 0;
    }

    .specific-pricing-right {
        display: flex;
        flex-direction: column;
        align-items: center; /* Change this to center to align child items */
    }

    .specific-pricing-text p {
        font-size: 25px;
        margin: 0;
        margin-bottom: 4rem;
        position: absolute;
        left: 52%;
        top: calc(50% - 1.25rem);
    }

    .specific-pricing-list ul {
        list-style-type: disc;
        font-size: 22px; /* Made it a bit bigger */
        text-align: left;
        margin-top: 5rem;
        width: fit-content;
        position: absolute;
        left: 54%;
        top: calc(50% - 1.25rem);
    }

    /*image row */
    .ImageRow {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
    }

    .ImageBlock {
        text-align: center;
        flex: 1;
        margin: 1.5rem;
        transition: all 0.2s ease-in-out; /* This makes the resizing smooth */
    }

        .ImageBlock img {
            max-width: 100%;
            height: auto;
            display: block; /* Makes the image block level */
            margin: auto; /* Auto margins effectively center the image */
        }

        .ImageBlock:hover {
            transform: scale(1.05);
            transition: all 0.2s ease-in-out; /* This makes the resizing smooth */
        }

    .rowText {
        color: #ffffff;
    }

        .rowText:hover {
            color: #ffffff; /* Corrected hex code */
        }
</style>

@code {

}
