@page "/pricing"

<!-- Add a container to hold your pricing content -->
<div style="display: flex; justify-content: center; width: 100%;">
    <div class="pricing-container">
        <div class="pricing-title">
            <h1>Pricing</h1>
        </div>
        <div class="pricing-text">
            <p>Explore our flexible pricing options tailored to your needs. Choose between purchasing tokens for on-demand usage or opting for a monthly subscription for continuous access. Our system is designed to provide you with the most cost-effective solution, whether you're managing a small project or scaling up. Payment integration is coming soon!</p>
        </div>
    </div>
</div>

<!-- New Section: Image on the Right, Text on the Left -->
<div class="Section ImageRightTextLeft">
    <div class="Text">
        <h2 style="font-size: 2.2rem !important">Flexible, Node-Based Pricing</h2>
        <p>Experience true scalability with our unique pricing model. You only pay for the nodes you use, allowing you to optimize costs while expanding your AI capabilities. Start small, scale big—without breaking the bank. Currently only openai models are integrated so youll have to provide your own apikey.</p>
    </div>
    <div class="Image">
        <img src="../images/pricing/nodepricing.jpg" alt="Image depicting pricing model">
    </div>
</div>

<!-- New Section: Subscription pricing section -->
<AiDesigner.Client.Components.Payment.SubscriptionPricing></AiDesigner.Client.Components.Payment.SubscriptionPricing>

<AiDesigner.Client.Components.Payment.PricingDetails></AiDesigner.Client.Components.Payment.PricingDetails>

<style>
    .pricing-container {
        width: 83%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1.2rem;
        position: relative;
        margin-bottom: 14rem;
    }

    .pricing-title h1 {
        font-size: 55px;
        margin: 0;
       /*  margin-left: 3rem; */
    }

    .pricing-text {
        position: absolute;
        left: 52%;
        top: calc(50% - 1.25rem); /* 0.625rem is half the font-size, this makes the first line vertically centered */
    }

        .pricing-text p {
            font-size: 25px;
            margin: 0;
           /*  margin-right: 1rem; */
        }

        <!-- Add a container to hold your pricing content -->
    .Section {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        width: 90%;
        margin: auto; /* This will center the section horizontally */
    }

    /* Styles for Text and Image Divs */
    .ImageRightTextLeft .Text, .ImageLeftTextRight .Text {
        flex: 1; /* Takes more space than Image */
        padding: 2rem;
        font-size: 2rem; /* Increase the font size */
    }

    .ImageRightTextLeft .Image, .ImageLeftTextRight .Image {
        flex: 1; /* Takes less space than Text */
        padding: 2rem;
    }

    <!-- specific pricing -->
    .specific-pricing-container {
        width: 83%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 16rem;
        position: relative;
    }

    .specific-pricing-title h1 {
        font-size: 55px;
        margin: 0;
    }

    .specific-pricing-right {
        display: flex;
        flex-direction: column;
        align-items: center; /* Change this to center to align child items */
    }

    .specific-pricing-text p {
        font-size: 25px;
        margin: 0;
        margin-bottom: 4rem;
        position: absolute;
        left: 52%;
        top: calc(50% - 1.25rem);
    }

    .specific-pricing-list ul {
        list-style-type: disc;
        font-size: 22px; /* Made it a bit bigger */
        text-align: left;
        margin-top: 5rem;
        width: fit-content;
        position: absolute;
        left: 54%;
        top: calc(50% - 1.25rem);
    }

    /*image row */
    .ImageRow {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
    }

    .ImageBlock {
        text-align: center;
        flex: 1;
        margin: 1.5rem;
        transition: all 0.2s ease-in-out; /* This makes the resizing smooth */
    }

        .ImageBlock img {
            max-width: 100%;
            height: auto;
            display: block; /* Makes the image block level */
            margin: auto; /* Auto margins effectively center the image */
        }

        .ImageBlock:hover {
            transform: scale(1.05);
            transition: all 0.2s ease-in-out; /* This makes the resizing smooth */
        }

    .rowText {
        color: #ffffff;
    }

        .rowText:hover {
            color: #ffffff; /* Corrected hex code */
        }
</style>

@code {

}
