@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

@page "/statistics"

@* right side *@
<div class="flex-grow dark:bg-gray-600 rounded-lg w-full">
    <AiDesigner.Client.Components.CallChart></AiDesigner.Client.Components.CallChart>
</div>
<div class="flex justify-center">
    <div class="flex space-x-6 rounded-lg mt-4 mx-auto w-full" >
        <!-- Left Half -->
        <div class="w-1/2 rounded-lg">
            <AiDesigner.Client.Components.HandleApiKeys></AiDesigner.Client.Components.HandleApiKeys>
        </div>

        <!-- Right Half -->
        <div class="w-1/2 rounded-lg bg-gray-700">
            <AiDesigner.Client.Components.HandleSessions></AiDesigner.Client.Components.HandleSessions>
        </div>
    </div>
</div>

@code {

}
