@using AiDesigner.Shared.Data;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json.Serialization
@using NodeBaseApi.Version2;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using System.Text;
@inject HttpClient Http;

<button @onclick="Open" class="btn btn-secondary mr-2 px-4 py-2 text-sm font-semibold text-gray-700 dark:text-white bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600" type="button">
    Add Custom Block
</button>

<div class="@($"fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full {(IsModalOpen ? "block" : "hidden")}")" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="relative w-full max-w-2xl max-h-full mx-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600 dark:bg-gray-800">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Create custom block
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" @onclick="Close">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 dark:text-gray-300 dark:bg-gray-600 dark:text-white">
                <EditForm Model="NewCustomBlock">
                    <div class="space-y-4">
                        <div>
                            <input type="text" @bind="NewCustomBlock.Name" placeholder="Name" class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white outline-none border-0" />
                        </div>
                        <div>
                            <textarea @bind="NewCustomBlock.Description" placeholder="Description" rows="4" class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white outline-none border-0"></textarea>
                        </div>
                        <div>
                            <label for="isPublic" class="block text-sm font-medium">Is Public</label>
                            <input id="isPublic" type="checkbox" class="w-6 h-6 accent-green-600 rounded mt-1 ml-1" @bind="NewCustomBlock.IsPublic" />
                        </div>
                    </div>
                </EditForm>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 dark:bg-gray-600">
                <button type="button" class="btn btn-secondary mr-2 px-4 py-2 text-sm font-semibold text-gray-700 dark:text-white bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 border-0" data-dismiss="modal" @onclick="() => Close()">Return</button>
                <button type="button" class="btn btn-primary px-4 py-2 text-sm font-semibold text-white bg-green-600 hover:bg-green-700 border-0" @onclick="@HandleNextButtonClick">Finnish</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsModalOpen { get; set; }

    [Parameter]
    public EventCallback CreateNew { get; set; }

    [CascadingParameter(Name = "NCB")]
    public CustomBlockProgram NewCustomBlock { get; set; }

    [CascadingParameter(Name = "CascAuth")]
    public AuthenticationState AuthState { get; set; }

    public void Open()
    {
        IsModalOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsModalOpen = false;
        StateHasChanged();
    }

    private async Task HandleNextButtonClick()
    {
        var user = AuthState.User;
        var userIdClaim = user.Claims.FirstOrDefault()?.Value;
        if (!string.IsNullOrEmpty(userIdClaim) && Guid.TryParse(userIdClaim, out Guid userId))
        {
            NewCustomBlock.Id = Guid.NewGuid();
            NewCustomBlock.Author = userId.ToString();
            NewCustomBlock.AuthorName = user.Identity.Name;
            NewCustomBlock.LastOpened = DateTime.Now;
            if (NewCustomBlock.ProgramStructure == null)
            {
                NewCustomBlock.ProgramStructure = new ProgramStructure();
            }

            //convert to json: -------------------------------
            NewCustomBlock.ProgramStructure.ProgramStartLocation = null;
            NewCustomBlock.ProgramStructure.ProgramEndLocation = null;
            NewCustomBlock.ProgramStructure.CameraPos = null;

            // Serialize the ProgramObject without the tuples
            var settings = new JsonSerializerSettings
                {
                    TypeNameHandling = TypeNameHandling.Auto,
                    Converters = new List<JsonConverter> { new BlockJsonConverter() },
                    ContractResolver = new DefaultContractResolver
                    {
                        NamingStrategy = new CamelCaseNamingStrategy()
                    },
                    ReferenceLoopHandling = ReferenceLoopHandling.Serialize,
                    ObjectCreationHandling = ObjectCreationHandling.Replace
                };

            var json = JsonConvert.SerializeObject(NewCustomBlock, settings);

            Console.WriteLine(json);

            // Parse the JSON to a JObject
            var jsonObject = JObject.Parse(json);

            // Manually reinsert the tuples into the JSON object
            // Assuming you have the tuples stored or accessible
            var programStartLocationTuple = new Tuple<int, int>(0, 200);
            var programEndLocationTuple = new Tuple<int, int>(300, 200);
            var cameraPosTuple = new Tuple<double, double>(0, 0);

            // Insert tuples back into the JSON
            jsonObject["programStructure"]["programStartLocation"] = new JArray(programStartLocationTuple.Item1, programStartLocationTuple.Item2);
            jsonObject["programStructure"]["programEndLocation"] = new JArray(programEndLocationTuple.Item1, programEndLocationTuple.Item2);
            jsonObject["programStructure"]["cameraPos"] = new JArray(cameraPosTuple.Item1, cameraPosTuple.Item2);
            Console.WriteLine(jsonObject.ToString());

            // Convert the JObject back to string JSON
            var modifiedJson = jsonObject.ToString();

            // Create StringContent and send
            var content = new StringContent(modifiedJson, Encoding.UTF8, "application/json");
            var response = await Http.PostAsync("Programs", content);

            //--------------------------------------------------------------

            if (response.IsSuccessStatusCode)
            {
                var programId = NewCustomBlock.Id;
                var connectUserResponse = await Http.PostAsync($"Programs/connect/{userId}/{programId}", null);
            }
            else
            {
                Console.WriteLine(response.StatusCode);
            }

            await CreateNew.InvokeAsync();
            Close();
        }
    }
}