@using AiDesigner.Shared.Data;
@using NodeBaseApi.Version2;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components.Forms;
@using System.Security.Claims;
@inject HttpClient Http;
@using Newtonsoft.Json;
@using System.Text;
@using Microsoft.AspNetCore.Authorization;
@using System.IO;
@attribute [Authorize]

<button @onclick="Open" class="mr-2 px-4 py-2 text-sm font-semibold text-gray-700 dark:text-white bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-500 rounded-md" type="button">
    Create Tutorial
</button>

<div class="@($"fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full {(IsModalOpen ? "block" : "hidden")}")" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="relative w-full max-w-2xl max-h-full mx-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600 dark:bg-gray-800">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Release News article
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" @onclick="Close">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 dark:text-gray-300 dark:bg-gray-600 dark:text-white">
                <EditForm Model="tutorial">
                    <div class="space-y-4">
                        <div>
                            <input type="text" @bind="tutorial.Name" placeholder="Name" class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white outline-none border-0" />
                        </div>
                        <div>
                            <textarea @bind="tutorial.Text" placeholder="Text" rows="4" class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white outline-none border-0"></textarea>
                        </div>

                        <!-- Single image upload -->
                        <div>
                            <div class="flex items-center justify-center w-full">
                                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                        </svg>
                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                        <p class="text-xs text-gray-500 dark:text-gray-400">PNG or JPG (MAX. 260x260px)</p>
                                    </div>
                                    <InputFile id="dropzone-file" class="hidden" accept=".png" OnChange="@(async (e) => await OnSingleFileChanged(e))" />
                                </label>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 dark:bg-gray-600">
                <button type="button" class="btn btn-secondary mr-2 px-4 py-2 text-sm font-semibold text-gray-700 dark:text-white bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 border-0" data-dismiss="modal" @onclick="() => Close()">Return</button>
                <button type="button" class="btn btn-primary px-4 py-2 text-sm font-semibold text-white bg-green-600 hover:bg-green-700 border-0" @onclick="@HandleNextButtonClick">Release</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsModalOpen { get; set; }

    private Tutorial tutorial { get; set; } = new Tutorial();

    private byte[] singleFileContent;

    public void Open()
    {
        IsModalOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsModalOpen = false;
        StateHasChanged();
    }

    private async Task HandleNextButtonClick()
    {
        try
        {

            // POST request to create a new tutorial
            var response = await Http.PostAsJsonAsync("Tutorial/Create", tutorial);

            if (!response.IsSuccessStatusCode)
            {
                // Handle failure
                Console.WriteLine($"Failed to save tutorial: {response.StatusCode} and {response.RequestMessage}");
                return; // Exiting the function early if this fails.
            }

            // Handle success
            var result = await response.Content.ReadFromJsonAsync<Tutorial>();
            Console.WriteLine($"Tutorial saved with Id: {tutorial.Name}");
        }
        catch (Exception ex)
        {
            // Log or show the general exception for debugging
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
        finally
        {
            // Close the modal or perform other cleanup tasks
            Close();
        }
    }

    private async Task OnSingleFileChanged(InputFileChangeEventArgs e)
    {
        var file = e.File;
        string[] imageTypes = new[] { "image/jpeg", "image/png" };

        if (file != null && imageTypes.Contains(file.ContentType))
        {
            // Resizing the image
            var resized = await file.RequestImageFileAsync(file.ContentType, 260, 260);

            var buffer = new byte[resized.Size];
            await using var stream = resized.OpenReadStream((int)resized.Size);
            await stream.ReadAsync(buffer, 0, (int)resized.Size);

            singleFileContent = buffer;
            tutorial.Image = singleFileContent; // Assuming the Tutorial model has an Image property
        }
    }
}
