@using NodeBaseApi.Version2;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<div class="@($"fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full {(IsModalOpen ? "block" : "hidden")}")" style="background-color: rgba(0, 0, 0, 0.5); position: fixed; z-index: 9999;">
    <div class="relative w-full max-w-2xl max-h-full mx-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600 dark:bg-gray-800">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Add Variable
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" @onclick="Close">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 dark:text-gray-300 dark:bg-gray-600 dark:text-white">
                <input type="text" @bind="CurrentVariablet.Name" placeholder="Name" class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white outline-none border-0" />
                <textarea @bind="CurrentVariablet.Description" placeholder="Description" rows="4" class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white outline-none border-0"></textarea>
                <input id="isList" type="checkbox" @bind="CurrentVariablet.IsList" class="ml-2 w-6 h-6 accent-green-600 rounded ml-1" />
                <label for="isList" class="ml-2">Is List?</label>
                <select @bind="CurrentVariablet.Type" class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white outline-none border-0">
                    <option value="String">String</option>
                    <option value="Picture">Picture</option>
                    <option value="Number">Number</option>
                    <option value="Boolean">Boolean</option>
                    <option value="Audio">Audio</option>
                    <option value="Object">Object</option>
                </select>
                <input id="isSessionVariable" type="checkbox" @bind="CurrentVariablet.IsSessionVariable" class="ml-2 w-6 h-6 accent-green-600 rounded ml-1" />
                <label for="isSessionVariable" class="ml-2">Is Session Variable?</label>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center justify-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 dark:bg-gray-600">
                <button type="button" class="btn btn-primary px-4 py-2 text-sm font-semibold text-white bg-green-600 hover:bg-green-700 border-0" @onclick="@HandleNextButtonClick">Add Variable</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsModalOpen { get; set; }
    private Variable CurrentVariablet { get; set; } = new Variable();

    [Parameter]
    public EventCallback<Variable> OnNewOutputCreated { get; set; }

    public void Open()
    {
        IsModalOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsModalOpen = false;
        StateHasChanged();
    }

    private async Task HandleNextButtonClick()
    {
        CurrentVariablet.Id = Guid.NewGuid();
        await OnNewOutputCreated.InvokeAsync(CurrentVariablet);
        CurrentVariablet = new Variable();
        Close();
    }
}
