@page "/documentation/help/troubleshooting"

<div class="container mx-auto p-6 font-mono">
    <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Troubleshooting and Support</h2>

        <!-- Early Access Notice -->
        <div class="mb-4 dark:!bg-gray-700 bg-gray-100 p-4 rounded">
            <h3 class="text-xl font-bold mb-2">Early Access Notice</h3>
            <p>Welcome to NodeNestor in its early access phase! We're continually improving and expanding our features. During this phase, some issues may arise, and we appreciate your understanding and patience as we work to enhance the platform.</p>
        </div>

        <!-- Common Issues in Block-Based Programming -->
        <div class="mb-4 dark:!bg-gray-700 bg-gray-100 p-4 rounded">
            <h3 class="text-xl font-bold mb-2">Common Issues in Block-Based Programming</h3>
            <p>Running into challenges? Let's navigate through some of the most common issues you might encounter:</p>
            <ul class="list-disc pl-4 ml-6 mb-2">
                <li><strong>Error detection:</strong> Before automatic error detection is released keep in mind that the classes and variable types are c# objects so make sure everything is connected correctly.</li>
                <li><strong>Workflow Configuration:</strong> Check that all blocks are correctly connected. Ensure each block's settings are configured accurately for your project's needs.</li>
                <li><strong>AI Model Integration:</strong> Confirm that AI models are properly linked within your workflow. Make sure they are receiving data in the correct format to function effectively.</li>
                <li><strong>Processing Time:</strong> Be aware that AI models, especially complex ones, may take time to process data. Sequential processing of multiple models can also add to the overall time. Patience is key, and consider streamlining your workflow for efficiency.</li>
            </ul>
        </div>

        <!-- Self-Help and Documentation -->
        <div class="mb-4 dark:!bg-gray-700 bg-gray-100 p-4 rounded">
            <h3 class="text-xl font-bold mb-2">Self-Help and Documentation</h3>
            <p>If you're facing issues, your first port of call should be:</p>
            <ul class="list-disc pl-4 ml-6 mb-2">
                <li>Block Documentation: Each block comes with its own documentation – check there for specific guidance and best practices.</li>
                <li>Discord Community: Join our Discord for community support, where you can ask questions and share experiences with other users.</li>
                <li>Tutorials: Explore our tutorials for deeper insights into block usage and AI model integration.</li>
                <li><a href="https://discord.fake/ai-designer" class="underline">Join our Discord</a> for real-time assistance and community advice.</li>
            </ul>
        </div>
    </section>
</div>
