<footer class="bg-gray-200 dark:bg-gray-800 text-black dark:!text-white dark:text-gray-300 mt-6">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-4">
            <div>
                <h5 class="text-lg font-bold">About Us</h5>
                <p class="mt-2">
                    Based in Sweden, I'm a solo developer exploring new ways to create complex AI workflows.
                </p>
            </div>
            <div>
                <h5 class="text-lg font-bold">Quick Links</h5>
                <ul class="space-y-1">
                    <li><a href="" class="hover:underline">Home</a></li>
                    <li><a href="aboutus" class="hover:underline">About</a></li>
                    <li><a href="home" class="hover:underline">Create</a></li>
                </ul>
            </div>
            <div>
                <h5 class="text-lg font-bold">Contact Us</h5>
                <p class="mt-2">
                    Discord coming soon
                    @* Email: example@example.com *@
                </p>
                <p>
                    Email: info@nodenestor.com
                    @* Phone: +1 234 567 890 *@
                </p>
            </div>
        </div>
    </div>
</footer>
