<div class="text-lg top-row px-3 py-2 bg-white dark:!bg-gray-800 flex items-center justify-center">
    <div class="container mx-auto sm:px-4">
        <a class="text-gray-800 dark:text-white font-bold no-underline" href="">AiDesigner</a>
        @*
        <button class="text-gray-800 dark:text-white" @onclick="ToggleNavMenu">
        <span class="px-5 py-1 border border-gray-600 rounded"></span>
        </button>
        *@
    </div>
</div>


<div class="nav-scrollable bg-white dark:!bg-gray-700">
    <nav class="">
        <div class="nav-item px-3 py-2">
            <NavLink class="text-lg inline-block py-1 px-4 no-underline dark:text-white dark:hover:!bg-gray-600" href="home" Match="NavLinkMatch.All">
                @* <span class="oi oi-home" aria-hidden="true"></span> *@ Home
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="text-lg inline-block py-1 px-4 no-underline dark:text-white dark:hover:!bg-gray-600" href="library">
               @* <span class="oi oi-plus" aria-hidden="true"></span> *@ Library
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="text-lg inline-block py-1 px-4 no-underline dark:text-white dark:hover:!bg-gray-600" href="marketplace">
                @* <span class="oi oi-list-rich" aria-hidden="true"></span> *@ Workshop
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="text-lg inline-block py-1 px-4 no-underline dark:text-white dark:hover:!bg-gray-600" href="documentation">
                @* <span class="oi oi-list-rich" aria-hidden="true"></span> *@ Docs
            </NavLink>
        </div>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3 py-2">
                    <NavLink class="text-lg inline-block py-1 px-4 no-underline dark:text-white dark:hover:!bg-gray-600" href="Admin-Page">
                        Admin page
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

<style>
    /* Normal theme */
    .active {
        background-color: #353535; /* Dark Blue */
        color: #000000; /* White Text */
    }

    /* Dark theme */
    .dark{
        color: #fff !important;
    }

    .dark .active {
        background-color: #353535 !important; /* Lighter Very Dark Gray */
        color: #fff !important; /* White Text */
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
