<div class="nav-scrollable bg-white dark:!bg-gray-700">
    <div class="nav-container">
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="chat" Match="NavLinkMatch.All">
                Chat
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="marketplace" Match="NavLinkMatch.All">
                Workshop
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="home" Match="NavLinkMatch.All">
                Aidesigner
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="pricing" Match="NavLinkMatch.All">
                Pricing
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="documentation/introduction/overview" Match="NavLinkMatch.All">
                Docs
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="aboutus" Match="NavLinkMatch.All">
                About
            </NavLink>
        </div>
    </div>
</div>

@code {

}
