<div class="nav-scrollable bg-white dark:!bg-gray-700 md:block hidden">
    <div class="nav-container">
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="chat" Match="NavLinkMatch.All">
                Chat
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="workshop" Match="NavLinkMatch.All">
                Workshop
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="home" Match="NavLinkMatch.All">
                Aidesigner
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="pricing" Match="NavLinkMatch.All">
                Pricing
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="documentation/introduction/overview" Match="NavLinkMatch.All">
                Docs
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" ActiveClass="dark:!bg-gray-600" href="aboutus" Match="NavLinkMatch.All">
                About
            </NavLink>
        </div>
    </div>
</div>

<div class="md:hidden">
    <button @onclick="ToggleMenu" class="p-4">Menu</button>
    <div class="@menuClass">
        <!-- Navigation items for the dropdown -->
        <NavLink class="block py-2 px-4 text-sm" href="chat">Chat</NavLink>
        <NavLink class="block py-2 px-4 text-sm" href="pricing">Pricing</NavLink>
        <NavLink class="block py-2 px-4 text-sm" href="documentation/introduction/overview">Docs</NavLink>
        <NavLink class="block py-2 px-4 text-sm" href="aboutus">About</NavLink>
    </div>
</div>

@code {
    private bool isMenuOpen = false;

    private string menuClass => isMenuOpen ? "block" : "hidden";

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}

