<div class="nav-scrollable bg-white dark:!bg-gray-700">
    <div class="nav-container">
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" href="chat" Match="NavLinkMatch.All">
@* <span class="oi oi-comment-square" aria-hidden="true"></span> *@ Chat
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" href="marketplace" Match="NavLinkMatch.All">
                @* <span class="oi oi-basket" aria-hidden="true"></span> *@ Workshop
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" href="home" Match="NavLinkMatch.All">
@* <span class="oi oi-plus" aria-hidden="true"></span> *@ Aidesigner
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" href="pricing" Match="NavLinkMatch.All">
                @* <span class="oi oi-list-rich" aria-hidden="true"></span> *@ Pricing
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" href="documentation" Match="NavLinkMatch.All">
@* <span class="oi oi-list-rich" aria-hidden="true"></span> *@ Docs
            </NavLink>
        </div>
        <div class="nav-item px-1 py-2">
            <NavLink class="text-lg inline-block py-2 px-4 no-underline text-gray-800 dark:text-white dark:hover:bg-gray-600 rounded-md" href="aboutus" Match="NavLinkMatch.All">
@* <span class="oi oi-person" aria-hidden="true"></span> *@ About
            </NavLink>
        </div>
    </div>
</div>

@code {

}
